# Build folders
Server/build/
Client/build/
UI/build/

# Compiled files
*.exe
*.obj
*.o
*.out

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Database file (IMPORTANT)
Database/campusfeed.db

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
